<div class="mind-map-node-wrapper" [class]="'level-' + level">
  <div
    class="card clickable-node"
    [ngClass]="getCardClass()"
    (click)="onNodeClick()"
  >
    <div class="card-body p-2 text-center">
      <span>{{ node.label }}</span>
      <button
        *ngIf="node.details"
        class="info-btn"
        (click)="onShowDetailsClick($event)"
        aria-label="Saber mais"
      >
        Saber mais
      </button>
      <span
        *ngIf="node.children && node.children.length > 0"
        class="toggle-icon"
      >
        {{ isNodeExpanded ? " -" : " +" }}
      </span>
    </div>
  </div>

  <ul
    class="children-list"
    [class.horizontal-list]="level === 0"
    *ngIf="node.children && isNodeExpanded"
  >
    <li *ngFor="let childNode of node.children">
      <app-mind-map-node
        [node]="childNode"
        [level]="level + 1"
        [isNodeExpanded]="childrenExpandedStatus.has(childNode.id)"
        [childrenExpandedStatus]="childrenExpandedStatus"
        (toggleExpand)="onChildToggle($event)"
        (showDetails)="onChildShowDetails($event)"
      >
      </app-mind-map-node>
    </li>
  </ul>
</div>
