<div class="container-fluid mt-4">
  <h1 class="text-center mb-5">MAPA MENTAL DO SISTEMA NERVOSO</h1>
  <div class="mind-map-root">
    <app-mind-map-node
      [node]="rootNode"
      [level]="0"
      [isNodeExpanded]="expandedNodes.has(rootNode.id)"
      [childrenExpandedStatus]="expandedNodes"
      (toggleExpand)="toggleNode($event)"
      (showDetails)="openInfoModal($event)"
    >
    </app-mind-map-node>
  </div>
</div>

<app-info-modal
  *ngIf="selectedNode"
  [node]="selectedNode"
  (closeModal)="closeInfoModal()"
></app-info-modal>
